.page
{
    background-color:lightcoral;
    /*padding-right: 50%;*/
    /*border-style: dashed;*/
    /*height:500px;*/
    /*width: 200px;*/
    /*margin-right: 50%;*/
    /*margin-bottom: 0;*/
    /*margin-top: 0;*/
    /*margin-right: 0;*/
    /*margin-left: 0;*/
    height: 100%;
    width: 100%;
}
.box1{
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 5%;
    /*border-style: dashed;*/
}
.box4{
    /*border-style: dashed;*/
    height: 40px;
}
.box5{
    /*border-style: dashed;*/
    height: 40px;
}
.box3{
    height: 40px;
    background-color: black;
    color: white;
    /*text-align: center;*/

}
.ptable {
    width: 100%;
    height: 100%;
}
.prow {
    height: 100%;
}
.halfcolumn {
    width: 50%;
}
#map {
    height: 100%;
    width: 100%;
    /*float: right;*/
}
/*#header*/
/*{*/
/*    margin: 0 auto;*/
/*    height: 100px;*/
/*    border-style:dashed;*/
/*    text-align:center;*/
/*}*/
/*.box1*/
/*{*/
/*    margin-left: 30%;*/
/*    margin-right: 30%;*/
/*    margin-top: 40%;*/
/*    margin-bottom: 40%;*/
/*    border-style:dashed;*/
/*    height :600px;*/
/*    width:500px;*/
/*    float:left;*/
/*    color: black;*/
/*}*/
/*.box2 {*/
/*    !*border-style: dashed;*!*/
/*    margin-right: 20%;*/
/*    !*margin:-100px;*!*/
/*    float: right;*/
/*    color: blanchedalmond;*/
/*}*/
/*.box3{*/
/*    width: 50%;*/
/*    height: 20%;*/
/*    color: white;*/
/*    background-color: black;*/
/*}*/
.ll {
    width:200px;
    height:20px;
}
.ll li {
    float:left;
    width:20px;
    height:20px;
    list-style:none;
    background-image : url('https://img-blog.csdn.net/20170630195313808');
}
.ll:hover li {
    background-image : url('https://img-blog.csdn.net/20170630195244977');
}
.ll li:hover ~ li {
    background-image : url('https://img-blog.csdn.net/20170630195313808');
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover {
    background-color: RoyalBlue;
}
/*.btn:focus {*/
/*    background-color: red;*/
/*}*/
